<!DOCTYPE html>

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->


<head>
     <meta charset="UTF-8" />
    <title>BCORE Admin Dashboard Template | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
     <!-- PAGE LEVEL STYLES -->
     <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/login.css" />
    <link rel="stylesheet" href="assets/plugins/magic/magic.css" />
     <!-- END PAGE LEVEL STYLES -->
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
<body >

   <!-- PAGE CONTENT --> 
    <div class="container">
    
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form action="/dang-nhap" class="form-signin" method="post">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">
                    Enter your username and password
                </p>
                <input type="text" placeholder="Username" class="form-control" name="username"/>
                <input type="password" placeholder="Password" class="form-control" name="password" />
            </form>
        </div>
        
    </div>
    <div class="text-center">
        <ul class="list-inline">
            <button class="btn text-muted text-center btn-danger">
            <li><a class="text-muted" href="/san-pham" >Login</a></li>
            </button>
        </ul>
    </div>

    <div>
<a href="/san-pham"> qua trang san pham</a>
    </div>
</div>

	  <!--END PAGE CONTENT -->     
	      
      <!-- PAGE LEVEL SCRIPTS -->
      <script src="/javascripts/jquery-2.0.3.min.js"></script>
      <script src="/javascripts/bootstrap.min.js"></script>
   <script src="/javascripts/login.js"></script>
      <!--END PAGE LEVEL SCRIPTS -->

</body>
    <!-- END BODY -->
</html>
